<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    <h1>Добро пожаловать, {{ current_user.username }}</h1>
    <a href="{{ url_for('logout') }}">Выйти</a>

    <!-- Кнопка для перехода в админ панель доступна только для Daniil -->
    {% if current_user.is_authenticated and current_user.username == "Daniil" and current_user.password == "Daniil" %}
        <br>
        <a href="{{ url_for('admin_dashboard') }}">Перейти в админ панель</a>
    {% endif %}
</body>
</html>
